.Mini-conf-panel {
  display: block;
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 20%;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  background-color: #dddddd;
  box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.3);
  padding: 10px;
  box-sizing: border-box;
}




