/* Generales */
.reveal {
    background-image: url("../img/fondo.jpg");
    color: #ffffff;
}.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6, .reveal p {
    color: #ffffff;
}.reveal h1 {
   font-size: 80px; 
}.reveal h2 {
   font-size: 55px; 
}.reveal h3 {
   font-size: 50px; 
}.reveal h4 {
   font-size: 45px; 
}.reveal h5 {
   font-size: 40px; 
}.reveal h6 {
   font-size: 35px; 
}.reveal p {
   font-size: 30px; 
   background: none;
}.reveal ul {
   margin: 20px 0;
}.reveal li {
    text-align: left;
   font-size: 30px; 
   background: none;
   margin-bottom: 10px;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}


.perfil {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 20px;
    z-index: 9999;
}.perfil img {
 border-radius: 50%;
 height: 50px;
 width: 50px;
}.perfil p {
    margin: 0 10px;
    padding: 0;
    color: #ffffff;
    font-family: Lato, sans-serif;
}

.minsait {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 9999;
}.minsait img {
    border-radius: 20px;
    width: 150px;
}





/* Welcome */
#welcome {
    color: #cccccc;
}
#welcome h1 {
    font-size: 70px;
    color: #ffffff;
    margin-bottom: 10px;
}
#welcome h2 {
    font-size: 35px;
    color: #dddddd;
    margin-bottom: 45%;
}
#welcome h3 {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 10px;
}
#welcome p {
    font-size: 18px;
    color: #cccccc;
}


/* Que es react */
#que-es-react .row .div {
    width: 33%;
}
#que-es-react .change {
   transition: 0.5s;
}
#que-es-react .rojo {
   color: red;
}
#que-es-react img {
   margin: 0;
}
#que-es-react pre {
    margin: 0;
    top: -20px;
    width: 100%;
}


/* JSX */
#JSX .img-flotante img {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#JSX .organizacion .row div {
    flex-grow: 1;
}

/* Ecosistema React */
#ecosistema-react .logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}#ecosistema-react .logos img {
    width: 20%;
    height: 100%;
    margin: 5px 25px;
}


/* Ecosistema React */
#virtual-dom .row .float {
    position: absolute;
    left: 0;
    width: 90%;
}